@charset "utf-8";

body {
  position: relative;
}

.main,
.footer {
  text-align: center;
}

h1 {
  color: #4f6e5a;
  border: 5px solid #556b2f;
}

h3 {
  color: #556b2f;
}

h2 {
  padding-top: 10px;
}

.header {
  overflow: hidden;
  /*はみ出した部分が見えなくなる*/
  background-color: rgb(169, 184, 170);
  height: 90px;
}

.header-logo {
  font-size: 28px;
  float: left;
  padding: 25px 30px;
}

.header-list {
  float: left;
  /*要素を左に*/
  overflow: hidden;
  /* スマホ表示時は隠す */
  display: none;
}

.header-list li {
  list-style: none;
  float: left;
  padding: 17px 20px;
}

.menu-icon {
  float: right;
  margin-right: 25px;
  margin-top: 25px;
}

.menu-icon img {
  width: 40px;
  height: 40px;
}

@media (min-width: 768px) {
  /* PC表示時には表示する */
  .header-list {
    display: block;
  }
  /* PC表示時には隠す */
  .menu-icon {
    display: none;
  }
}

#side-menu {
  /* 絶対位置で表示する */
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: rgb(131, 100, 100);

  /* 初期状態は非表示 */
  display: none;
}

.main {
  background-color: #d8d8d8;
  padding-bottom: 25px;
  margin: 0 auto;
}

.footer {
  background-color: #c0c0c0;
  height: 240px;
}

body {
  font-family: "Avenir Next";
}

.image-area {
  /*画像*/
  margin: 0 auto;
  width: 100%; /* 親要素の幅を設定 */
  max-width: 400px; /* 必要に応じて最大幅を設定 */
  border: 1px solid #ccc; /* 親要素のスタイルを設定 */
}

.image-area img{
  width: 100%; /* 画像の幅を親要素に合わせる */
  height: auto; /* 画像の高さを自動調整 */
  display: block; /* 画像の隙間を取り除く */
}

a {
  color: #5b5e85;
}

a:hover {
  color: #638f8b;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #49665a;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  display: none;
  /* Initially hide the button */
}